$colors = {
    darker: #1c1d22
    dark  : #2a2b30
    grey  : #47484c
    light : #dddddd
    high  : #5c5edc
    error : #e0492f
    white : #f5f5f5
}

$radius = 5px

$ellipsis()
	overflow hidden
	text-overflow ellipsis
	white-space nowrap